<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GiveMesServlet</servlet-name>
        <servlet-class>GiveMesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GiveMesServlet</servlet-name>
        <url-pattern>/missme</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterableServlet</servlet-name>
        <servlet-class>RegisterableServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterableServlet</servlet-name>
        <url-pattern>/RegisterableServlet</url-pattern>
    </servlet-mapping>

</web-app>
