<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <!--如果是ajax直接发送的,需要保证url域servlet名字一致!必须和reqeust发出来的url一致!!!-->
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MissMeServlet</servlet-name>
        <servlet-class>MissMeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MissMeServlet</servlet-name>
        <url-pattern>/MissMe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterableServlet</servlet-name>
        <servlet-class>RegisterableServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterableServlet</servlet-name>
        <!--如果是ajax直接发送的,需要保证url域servlet名字一致-->
        <url-pattern>/Registerable</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadyForRenServlet</servlet-name>
        <servlet-class>ReadyForRenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadyForRenServlet</servlet-name>
        <!--如果是ajax直接发送的,需要保证url域servlet名字一致-->
        <url-pattern>/readyForRen</url-pattern>
    </servlet-mapping>

    <filter>
        <!--注意是filter-->
        <filter-name>EncodingFilter</filter-name>
        <filter-class>EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <!--针对所有的页面都进行过滤-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
