
* {
    margin: 0;
    /*padding: 0;*/
}

.box {
    color: lightcyan;
    white-space: nowrap;
    overflow: hidden;
    background: indianred;
    font-size: larger;
}

td {
    text-align: center;
    font-size: larger;
}

.box2 {
    background-image: url("../icon/zt1.jpg");
    width: 100%;
    background-size: contain;
    white-space: nowrap;
    overflow: hidden;
}

#subao td {
    padding-top: 10px;
    padding-bottom: 5px;
    color: black;
    font: normal bold large "Times New Roman";
}

#toutiao {
    padding-right: 5px;
    font: normal bold large "Times New Roman"
}

div img {
    margin-top: 5px;
}

#footgognshang, #footbeizhu, #jisuanqi, #footbei {
    float: left;
}

#logo1, #logo2, #logo3, #logo4 {
    float: left;
    font-size: large;
}

.box3 {
    width: 50%;
}

a#luntan {
    text-decoration: none;
}
